{% extends 'base.html' %}

{% block principal %}

<H1>RELOGIOS</H1>

{% for relogio in relogios %}

<div class="row main-relogios">
    <div class="col-12">
        <div class="card container-fluid">
            <div class="card-body d-flex row justify-content-between">
                <img src="/media/{{ relogio.imagem }}" class="card-img-left col-3 img-fluid" alt="...">

                <div class="card-relogio col-7">
                    <h5 class="card-title-relogio">{{ relogio.nome }}</h5>
                    <p class="card-text-relogio"><span>{{ relogio.categoria}}</span></p>
                    <p class="card-text-relogio">{{ relogio.descricao }}</p>
                    <h3 class="card-title-relogio">R$ {{ relogio.valor }}</h3>
                    <div class="d-flex justify-content-between">

                        <a href="{% url 'expandido' relogio.id %}" class="btn btn-success">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}